.format {
    margin: 30px;
    margin-right: 500px;
    margin-left: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

body {
    background-image: url(https://bit.ly/2TfxkEP);
}

#appendedText {
    margin-left: 1200px;
}

#labelRealizada {
    display: block
}